/* Page with 50% Pillar */
/*

  border: 1px solid black;

*/
.chopper {
  width: 100%;
  margin: 0;
  padding: 16px;
  overflow: hidden;
}
.footer {
  text-align: center;
  width: 100%;
  margin: 0;
  height: 132px;
  padding: 16px;
  overflow: hidden;
}
.pillar {
  float: left;
  width: 50%;
  height: 512px;
  margin: 0;
  padding: 16px;
  overflow: hidden;
  text-align: center;
}
.pillar p {
  margin: 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .pillar {
	width: 100%
  }
}